<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="SourcePhrase" value="poultry outwits ants" />
    <add key="MaxWordsInPhrase" value="5" />
    <add key="AllowWordsReuse" value="false" />
    <add key="ExpectedHashes" value="e4820b45d2277f3844eac66c903e84be,23170acc097c24edb98fc5488ab033fe,665e5bcb0c20062fe8abaaf4628bb154"/>
  </appSettings>
</configuration>
